html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* NAVBAR CUSTOMIZATIONS */

.navbar-light,
.bg-light {
  background-color: #f59f81 !important;
  color: white;
}

.navbar-light .navbar-brand {
  color: rgba(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.tag-col {
  position: sticky;
  background-color: #f59f81;
  height: 19vw;
  top: 55px;
  margin-bottom: 15px;
  z-index: 1000;
}

.tagContent {
  margin-right: 9%;
  color: white;
}

.tagContent .headNav {
  text-align: right;
  font-size: 3vw;
}

.tag {
  width: 48%;
  float: right;
}

.tag .tagline {
  font-size: 2vw;
  text-align: justify;
}

/* SECTION 1 CUSTOMIZATION */
/* 
.num1 {
  margin-top: 24vw;
} */
.col-md-6.sec1 {
  padding: 0;
  height: 30vw;
  position: relative;
}

/*  .col-md-6.sec1 {
  max-height: 100%;
} */

.col-md-6.sec1 .img-fluid {
  width: 100%;
  height: 100%;
}

.col-md-6.sec1 .sec1text {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 80%;
  margin: auto 0;
  color: white;
}

/* SECTION 2 */
.imgth {
  width: 30%;
  display: inline-block;
  margin-right: 10px;
  transition: 1s;
}

.col-md-6.test2 {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.col-md-6.test2 .cardText {
  position: absolute;
  width: 70%;
  top: 0;
  left: -100%;
  z-index: -1;
  overflow: hidden;
  transition: 1s;
}

.col-md-6.test2 .cardText h4 {
  font-size: 20px;
}

.col-md-6.test2 .cardText p {
  font-size: 16px;
}

.test2:hover .imgth {
  width: 20%;
}

.test2:hover .cardText {
  left: 20%;
}

/* SECTION 3 */

/* .sec3 {
  position: relative;
}

.sec3 .sec3Text {
  position: absolute;
  top: 30%;
}
.row1 {
  position: relative;
  top: 0;
  left: 20%;
}

.midText {
  font-size: 16px;
} */

/* SECTION 4 */

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid #f05f3f;
  /* margin: 1em 0; */
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100%;
  padding-top: 4px;
  border-right: 1px solid grey;
  text-align: center;
  /* line-height: 75px; */
  font-size: 30px;
}

.flex-container > div a {
  text-decoration: none;
  color: #212529;
}

.flex-container > div > a > div {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* SETTING SECTION BACKGROUND */

.num4 {
  background: #e8eae9;
}

.menu-heading {
  padding: 9px;
  background: #f3875e;
  border-radius: 8px;
}

.row > button {
  border-radius: 3px;
  box-shadow: 2px 1px rgba(0, 0, 0, 0.2);
}

.row > button > i {
  color: #f9b852;
}

/* Health care section inside section 3 */

.health {
  border-top: 5px solid #5c5e60;
  border-bottom: 5px solid #5c5e60;
  background: white;
  padding: 10px;
}

.flex-container > .hmenu {
  border: none;
}

.hmenu .hicon {
  background-color: #f05f3f;
  width: 50px;
  margin: 0 auto;
  color: white;
  border-radius: 50%;
  font-size: 30px;
}

/* SECTION 4 */

.wpap {
  background-image: url(https://essential.themepunch.com/wp-content/uploads/2014/03/harrison.jpg);
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wpap .card {
  background: rgba(0, 0, 0, 0.87) !important;
  color: #f1f1f1;
  font-weight: bolder;
}
